<ul class='nav_main'>
	<li class='nav_main hoa_ff' ><a href="?v=hoa_ff"><span>Hoa, Family, and Friends</span></a></li>
	<li class='nav_main tango'><a href="?v=tango"><span>Tango</span></a></li>
	<li class='nav_main tennis'><a href="?v=tennis"><span>Tennis</span></a></li>
	<li class='nav_main psy'><a href="?v=psy"><span>Psychology</span></a></li>
	<li class='nav_main phy'><a href="?v=phy"><span>Phylosophy</span></a></li>
	<li class='nav_main computer'><a href="?v=computer"><span>Computer</span></a></li>
	<li class='nav_main language'><a href="?v=language"><span>Language</span></a></li>		
	<li class='nav_main travel'><a href="?v=travel"><span>Traveling</span></a></li>
</ul>